@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{margin: 0;
padding: 0;}

/* Amazon Banner */
#AWS{
position: fixed;
bottom: 0;
background-color: #ff9900f8;
font-family: 'Montserrat', sans-serif;
height: 100px;
display: flex;
align-items: center;
justify-content: space-between;
width:100%;
}
#aws-text{
margin-left:50px;
display:flex;
}
#awsLogo{
 width: 4rem;
height: 4rem;
margin-left: 50px;
border-radius:6px;
}
#close{
margin-right:50px;
background-color: white;
width:25px;
text-align:center;
line-height:25px;
border-radius:2px;
outline: none;
user-select:none;
cursor:pointer;
}
#close:hover{
background-color:gray;
}

/*Banner*/
#banner{
    display: flex;
    flex-wrap: wrap;
    /* fix this later */
    justify-content: space-between;
    align-items: baseline;
    align-content: flex-start;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 5px;

    /* gap: 10px 100px; */
    position: fixed;
    top: 0px;
    padding-bottom: 5px;
    z-index: 1000;
}

/*Main Text Font*/
.text{
    text-align: center;
    flex-shrink: 1;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* Image and Circles */
.parallax{
    background-image: url("milkywaybase.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0;

    display: block;
}
#circleline{
    position: absolute;
    /* Create the circle */
    width: 70vh;
    max-width: 90vw;
    height: 70vh;
    max-height: 90vw;
    border-radius: 35vh;

    /* Style it */
    background-color: rgba(127, 255, 212, 0);
    border: 1px solid white;


    display: flex;
    /* center horizontally */
    justify-content: center;
    /* center vertically */
    align-items: center;

    /* Get to center */
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
}
#circleout{
    width: 68vh;
    max-width: 88vw;
    height: 68vh;
    max-height: 88vw;
    border-radius: 34vh;

    background-color: rgba(225, 225, 225, 0.18);
    position: absolute;
}
#circleinner{
    width: 64vh;
    max-width: 84vw;
    height: 64vh;
    max-height: 84vw;
    border-radius: 32vh;

    background-color: rgba(225, 225, 225, 0.18);
    position: absolute;

    /* Center div */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}
#circletext{
    width: 80%;
    height: 80%;

    font-size: 3vh;

    /* Center text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* Navigation Bar */
#navbar{
    padding-top: 0.5em;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    background-color: rgb(0, 26, 112);
}
.nav-tabs .nav-link{
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}
/* Body of the tab */
#overall{
    display: flex;
    flex-direction: column;
}
.main{
    display: flex;
    flex-direction: column;
    /* margin-top: 100px; */
    padding-left: 10vw;
    padding-right: 10vw;
    background-image: url("stars.png");
    background-color: black;
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
}
.marginstar{
    background-image: url("stars.png");
    background-color: black;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    height: 5em;
}
.textbody{
    /* color: black; */
    font-size: 1.1em;
    text-align: left;
    text-indent :2em;
}
/* Image in text */
.figureleft{
    float: left;
}
.figureright{
    float: right;
}
.imageleft{
    margin-right: 2em;
    max-width: 15em;
    border-radius: 0.5em;
}
.imageright{
    margin-left: 2em;
    max-width: 15em;
    border-radius: 0.5em;
}
.textlabel{
    color: black;
    margin-top: 0;
    font-size: 0.7em; 
}

/* Map */
#layout{
    /* flex: auto; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 20em;
    margin-right: 200px;
    background-color: gold;
}
#map{
    margin-top: 2em;
    max-width: 600px;
    height: auto;
}

#footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-image: url("earth.jpg");
    height: 65vh;
    
    /* filter: blur(2px); */
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    
    width: 100%;
    /* margin-top: 5em; */
    padding: 1em 2em 1em 2em;
    gap:1em 3em;
    
    justify-content: space-between;
    align-content: center;

}
.footerdiv{
    /* border-color: black;
    border-style: solid;
    border-width: 1px; */
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}
.logo{
    height: 50px;
    width: auto;
}
@media only screen and (max-width: 850px){
    
}

@media only screen and (max-width: 550px){
#AWS{background-color: green;}
#aws-text{font-size: 10px;}
#awsLogo{margin-left: 25px;}
#banner{
    justify-content: center;
}
#circleline{
    width: 75vw;
    height: 75vw;
    border-radius: 37.5vw;
}
#circleout{
    width: 73vw;
    height: 73vw;
    border-radius: 36.5vw;
}
#circleinner{
    width: 69vw;
    height: 69vw;
    border-radius: 34.5vw;
}
#circletext{
    font-size: 3vw;
}
}