@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{margin: 0;}
#AWS{
background-color: #ff9900f8;
font-family: 'Montserrat', sans-serif;
height: 100px;
display: flex;
align-items: center;
justify-content: space-between;
width:100%;
}

#aws-text{
margin-left:50px;
display:flex;
}

#awsLogo{
 width: 4rem;
height: 4rem;
margin-left: 50px;
border-radius:6px;
}

#close{
margin-right:50px;
background-color: white;
width:25px;
text-align:center;
line-height:25px;
border-radius:2px;
outline: none;
user-select:none;
cursor:pointer;
}
#close:hover{
background-color:gray;
}

@media only screen and (max-width: 550px){
#AWS{
background-color: green;
}
#aws-text{
font-size: 10px;
}
#awsLogo{

margin-left: 25px;

}

}